.registerInstructor{
    background: var(--fwhite);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cardForm {
    background: #fffffffc;
    box-shadow: 2px 4px 6px 2px #0000000d;
    width: 465px;
    border-radius: 20px;
    padding: 20px 20px;
}

.logo img {
    width: 113px;
    height: 58px;
}

.ImgLogin img {
    width: 692px;
    height: 499.88px;
}
.step{
    background-color: brown !important;
}
.mat-mdc-form-field {
    margin-top: 16px;
  }


  .custom-border{
    width: 100%;
    border-radius: 25px;
}


.relative {
    position: relative;
  }
  
  #label-input {
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
    color: #5f5d5dee;
  }
  
  .input-base {
    border-radius: 6px;
  }
  
 .inputFloating:focus ~ label#label-input,
.inputFloating:not(:placeholder-shown) ~ #label-input {
    top: -27% !important;
    left: 4px !important;
    transform: scale(0.8);
    background: white;
    color: var(--gray2);
    font-size: 16px;
    padding: 0px 18px;
    opacity: 1;
  }
  
  .inputFloating {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px solid var(--gray1);
    padding: 17px 10px 10px 17px;
    width: 95%;

    border-radius: 8px ;


  }

  .action .btn{
    border: 1px solid var(--green2);
    color: var(--green2);
    padding: 6px 30px;
  }

   .action .btnAcrive{
    border: none;
    background-color: var(--green2);
    color: var(--white);
    padding: 6px 30px;
  }