.login {
    background: var(--fwhite);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardForm {
    background: #fffffffc;
    box-shadow: 2px 4px 6px 2px #0000000d;
    width: 465px;
    border-radius: 20px;
    padding: 20px 20px;
}

.logo img {
    width: 113px;
    height: 58px;
}

.title_logo {
    font-family: Langar;
    font-size: 32px;
    font-weight: 400;
    line-height: 46.72px;
    text-align: center;
}

.input_group {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid   var(--color_border);;
    outline: none;
    height: 56px;
    padding: 0 12px;
    margin-bottom: 8px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ImgLogin img {
    width: 692px;
    height: 499.88px;
}

i.passicon {
    bottom: 35%;
    right: 25px;
    color:  var(--color_border);
    transition: transform 0.8s ease;
}

.passicon.fa-eye {
    transform: scaleX(1);
}

.passicon.fa-eye-slash {
    transform: scaleX(-1);
}

.containerCheck input {
    display: none;
}

.containerCheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #2196f300;
    border-radius: 4px;
    transition: all 0.25s;
}

.containerCheck input:checked~.checkmark {
    background-color:var(--green1);;
}

.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.4px solid black;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    transition: all 0.25s, border-width 0.1s;
}

.containerCheck input:checked~.checkmark:after {
    left: 5.4px;
    top: 3px;
    width: 5px;
    height: 9px;
    border-color: rgba(255, 255, 255, 0) white white rgba(255, 255, 255, 0);
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.labelChecked,
.routePassword a {
    font-weight: 16px;
    font-weight: 400;
    color: #1F2832;
}

.checkedCard {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn{
    display: block;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--green1);
    color: #f8fbf7;
    font-weight: 600;
}
.btn_border{
    background-color: transparent;
    color:var(--green1);;
    border: 1px solid var(--green1);;

}



.relative {
    position: relative;
  }
  
  #label-input {
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
    color: #5f5d5dee;
  }
  
  .input-base {
    border-radius: 6px;
  }
  
 .inputFloating:focus ~ label#label-input,
.inputFloating:not(:placeholder-shown) ~ #label-input {
    top: -27% !important;
    left: 4px !important;
    transform: scale(0.8);
    background: white;
    color: var(--gray2);
    font-size: 16px;
    padding: 0px 18px;
    opacity: 1;
  }
  
  .inputFloating {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px solid var(--gray1);
    padding: 17px 10px 10px 17px;
    width: 100%;

    border-radius: 8px ;


  }