<div class="login">

    <div class="cardForm">
        <div class="logo">
            <img src="Images/Logo.png" alt="">

        </div>

        <p class="title_logo text-center mt-3">
            Pick Up <br>No place for the idle!
        </p>

        <form action="" class="mt-4 p-3 py-5">

            <div class="position-relative mb-3">
                <input class="input-cal input-base inputFloating" placeholder="" type="text" formControlName="label">
                <label id="label-input">Email or Phone number</label>
              </div>

            <div class="position-relative mb-3">
                <input class="input-cal input-base inputFloating" placeholder="" [type]="passwordFieldType ? 'password' : 'text'" formControlName="label">
                <label id="label-input">Password</label>
                <i (click)="togglePasswordVisibility()" role="button" class="fa-solid position-absolute passicon"
                [class.fa-eye]="passwordFieldType" [class.fa-eye-slash]="!passwordFieldType">
            </i>
              </div>
      

            <div class="input_group d-flex justify-content-between">

                <div class="d-flex gap-2 checkedCard">
                    <label class="containerCheck">
                        <input  type="checkbox" id="invalidCheck">
                        <div class="checkmark"></div>
                    </label> <label class="labelChecked " for="invalidCheck">
                        Remember me
                    </label>
                </div>

                <div class="routePassword">
                    <a href="">Forgot password?</a>
                </div>

            </div>

            <button class="btn mb-3">Login</button>
            <button class="btn btn_border" routerLink="/startregister">Sign Up</button>


        </form>
    </div>
    <div class="ImgLogin">
        <img src="Images/Login_Screen.png" alt="">
    </div>

</div>