<div class="startregister">

    <div class="cardchoose">
          <div class="choose p-4 ">
                <img src="Images/Logo.png" alt="" width="100">
                <div class="contentCart d-flex align-content-center justify-content-around">
                      <div class="leftContent">
                            <h3>Pick Up <br> Create a New Account</h3>

                            <div class="contentChoose d-flex justify-content-between s">
                                 <a   class="choose_links" routerLink="/RegisterInstructor">Instractor</a>

                                  <a  class="choose_links" routerLink="/RegisterStudent" >Student</a>

                            </div>

                      </div>

                      <div class="rightContent">
                            <img src="Images/registerStart.png" alt="" width="190">
                      </div>
                </div>

          </div>

    </div>
</div>